<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

    <key>items</key>

    <array>

        <dict>

            <key>assets</key>

            <array>

                <dict>

                    <key>kind</key>

                    <string>software-package</string>

                    <key>url</key>

                    <string>http://bige-th.b0.upaiyun.com/App/2018/11/28/%E5%A4%A9%E5%A4%A9%E9%AD%94%E7%9B%92New_01_enterprise_resigned_iepwazgaklnht2md.ipa</string> 

                </dict>

            </array>

            <key>metadata</key>

            <dict>

                     <key>bundle-identifier</key>  
                    <string>com.New-01.mh</string>  
                    <key>bundle-version</key>  
                    <string>3.6.1</string>  
                    <key>kind</key>  
                    <string>software</string>  
                    <key>title</key>  
                    <string>天天魔盒</string>  

            </dict>

        </dict>

    </array>

</dict>

</plist>
